{% extends "layout.html" %}
{% block content %}

    <h1>Batteries</h1>


    {% if data != "No data yet available" %}
    {{ data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}

    <h2>Add battery</h2>

    <form action="/batteries" method="POST">
        <div class="form-group">

	    	<label>Battery name</label>
	    	<input type="text" name="Battery-name" id="Battery-name" required>
            <br>
            <label>Acquisition year</label>
            <input type="text" name="Acquisition-year" id="Acquisition-year" required>
            <br>
            <label>Acquisition month</label>
            <input type="text" name="Acquisition-month" id="Acquisition-month" required>
            <br>
            <label>Chemistry</label>
            <input type="text" name="Chemistry" id="Chemistry">
            <br>
            <label>Cycle schedule</label>
            <input type="text" name="Cycle-schedule" id="Cycle-schedule">

		</div>
    	<button type="submit">Add</button>
    </form>

    <script>
        window.onload = function() {
            // Adds date in right format to Acquisition year & month input
            var today = new Date;
            var year = today.getFullYear();;
            var month = today.getMonth() + 1;
            document.getElementById('Acquisition-year').value = year
            document.getElementById('Acquisition-month').value = month
        }
    </script>
{% endblock %}
