{% extends "layout.html" %}
{% block content %}

    <h1>Batteries</h1>


    {% if data != "No data yet available" %}
    {{ data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}

    <h2>Add battery</h2>

    <form action="/batteries" method="POST">
        <div class="form-group">

	    	<label>Battery name</label>
	    	<input type="text" name="Battery-name" id="Battery-name">
            <br>
            <label>Acquisition year</label>
            <input type="text" name="Acquisition-year" id="Acquisition-year">
            <br>
            <label>Acquisition month</label>
            <input type="text" name="Acquisition-month" id="Acquisition-month">
            <br>
            <label>Chemistry</label>
            <input type="text" name="Chemistry" id="Chemistry">
            <br>
            <label>Cycle schedule</label>
            <input type="text" name="Cycle-schedule" id="Cycle-schedule">

		</div>
    	<button type="submit">Add</button>
    </form>


{% endblock %}
