{% extends "layout.html" %}
{% block content %}

    <h1>BTBMS</h1>
    <h2>A better than manual battery management system</h2>

    <h2>Latest status</h2>

    {% if latest_data != "No data yet available" %}
    {{ latest_data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}
    <p><a href="{{ url_for('status') }}">More details</a></p>

    <h2>Latest locations</h2>

    {% if latest_locations_data != "No data yet available" %}
    {{ latest_locations_data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}
    <p><a href="{{ url_for('locations') }}">More details</a></p>

{% endblock %}
