<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BTBMS</title>
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('status') }}">Status</a></li>
                <li><a href="{{ url_for('locations') }}">Locations</a></li>
                <li><a href="{{ url_for('batteries') }}">Batteries</a></li>
            </ul>
        </nav>

        <!-- Content section -->

          {% block content %}
          {% endblock %}

        <!-- End Content section -->
        
    </body>
</html>
