{% extends "layout.html" %}
{% block content %}

    <h1>Locations</h1>

    <h2>Latest locations</h2>

    {% if latest_data != "No data yet available" %}
    {{ latest_data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}

    <h2>All historic locations</h2>

    {% if data != "No data yet available" %}
    {{ data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}

    <h2>Add location</h2>

    <form action="/locations?submit=add" method="POST">
    	<label>Battery name</label>
    	<!-- <input type="text" name="Battery-name" id="Battery-name" required> -->
        <!-- <label for="Battery-name">Select battery:</label> -->

        <select name="Battery-name" id="Battery-name">
          {% if dropdown_values != "No data yet available" %}
          {{ dropdown_values|safe }}
          {% else %}
          <option value="">Select battery</option>
          <option value="tbc">TBC</option>
          {% endif %}
        </select>
    	<br>
    	<label>Location</label>
    	<input type="text" name="Location" id="Location" required>
    	<br>
    	<label>Start</label>
    	<input type="date" name="Start" id="Start" required>
    	<br>
    	<label>End</label>
    	<input type="date" name="End" id="End">
    	<br>
        <label>Notes</label>
        <input type="text" name="Notes" id="Notes">
        <br>
    	<button>Add</button>
    </form>

    <h2>Edit location</h2>

    <form action="/locations?submit=edit" method="POST">
        <label>Row</label>
        <input type="number" min=0 name="Row-number" id="Row-number" required>
        <br>
        <label>Battery name</label>
        <!-- <input type="text" name="Battery-name" id="Battery-name" required> -->
        <select name="Battery-name" id="Battery-name">
          {% if dropdown_values != "No data yet available" %}
          {{ dropdown_values|safe }}
          {% else %}
          <option value="">Select battery</option>
          <option value="tbc">TBC</option>
          {% endif %}
        </select>
        <br>
        <label>Location</label>
        <input type="text" name="Location" id="Location" required>
        <br>
        <label>Start</label>
        <input type="date" name="Start" id="Start" required>
        <br>
        <label>End</label>
        <input type="date" name="End" id="End" required>
        <br>
        <label>Notes</label>
        <input type="text" name="Notes" id="Notes">
        <br>
        <button>Edit</button>
    </form>

    <h2>Delete location</h2>

    <form action="/locations?submit=delete" method="POST">
        <label>Row</label>
        <input type="number" min=0 name="Row-number" id="Row-number" required>
        <button>Delete</button>
    </form>

    <script>
        window.onload = function() {
            // Adds date in right format to Start input
            var today = new Date;
            var year = today.getFullYear();;
            var month = today.getMonth() + 1;
            if (month < 10) {
                month = "0" + month
            }
            var day = today.getDate();
            date_formatted = [year, month, day].join("-")
            document.getElementById('Start').value = date_formatted
        }
    </script>
{% endblock %}
