{% extends "layout.html" %}
{% block content %}

    <h1>Locations</h1>


    {% if data != "No data yet available" %}
    {{ data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}

    <h2>Add location</h2>

    <form action="/locations" method="POST">
    	<label>Battery name</label>
    	<input type="text" name="Battery-name" id="Battery-name" required>
    	<br>
    	<label>Location</label>
    	<input type="text" name="Location" id="Location" required>
    	<br>
    	<label>Start</label>
    	<input type="date" name="Start" id="Start" required>
    	<br>
    	<label>End</label>
    	<input type="date" name="End" id="End" required>
    	<br>
    	<button>Add</button>
    </form>

    <script>
        window.onload = function() {
            // Adds date in right format to Start input
            var today = new Date;
            var year = today.getFullYear();;
            var month = today.getMonth() + 1;
            if (month < 10) {
                month = "0" + month
            }
            var day = today.getDate();
            date_formatted = [year, month, day].join("-")
            document.getElementById('Start').value = date_formatted
        }
    </script>
{% endblock %}
