{% extends "layout.html" %}
{% block content %}

    <h1>Settings</h1>


    <h2>Import data</h2>


    <form action="/settings?submit=import" method="POST" enctype="multipart/form-data">
	    <label for="import-file">Select a file:</label>
		<input type="file" id="import-file" name="import-file" required>
		<br>
    	<button id="import">Import</button>
    </form>
    
    <h2>Export data</h2>

    <form action="/settings?submit=export" method="POST">
    	<button id="export">Export</button>
    </form>

    <h2>Delete data</h2>

    <p>There is no going back</p>

    <form action="/settings?submit=delete" method="POST">
        <input type="checkbox" id="confirm-deletion" name="confirm-deletion"/>
        <label for="confirm-deletion">I confirm that there is no going back after clicking delete</label>
        <br>
    	<button disabled id="delete">Delete</button>
    </form>
    

    <script type="text/javascript">

        function check_deletion() {
            // check_deletion is code to check if the confirm-deletion button is enabled
            status_value = document.getElementById("confirm-deletion").checked
            // console.log(status_value)
            if (status_value == true) {
                document.getElementById("delete").disabled = false
                // console.log("confirm-deletion is checked")
            } else {

                // console.log("confirm-deletion is NOT checked")
                document.getElementById("delete").disabled = true
            }
        }
        // window.onload(){
            interval = setInterval(check_deletion, 1000);
        // }
    </script>

{% endblock %}
