{% extends "layout.html" %}
{% block content %}

    <h1>Settings</h1>


    <h2>Import data</h2>


    <form action="/settings?submit=import" method="POST" enctype="multipart/form-data">
	    <label for="import-file">Select a file:</label>
		<input type="file" id="import-file" name="import-file" required>
		<br>
    	<button id="import">Import</button>
    </form>
    
    <h2>Export data</h2>

    <form action="/settings?submit=export" method="POST">
    	<button id="export">Export</button>
    </form>

    <h2>Delete data</h2>

    <p>There is no going back</p>

    <form action="/settings?submit=delete" method="POST">
    	<button id="delete">Delete</button>
    </form>
    

{% endblock %}
