{% extends "layout.html" %}
{% block content %}

    <h1>Status</h1>

    <h2>Latest status</h2>

    {% if latest_data != "No data yet available" %}
    {{ latest_data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}


    <h2>All historic statuses</h2>

    {% if data != "No data yet available" %}
    {{ data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}

    <h2>Add status</h2>

    <form action="/status" method="POST">
    	<label>Battery name</label>
    	<input type="text" name="Battery-name" id="Battery-name">
    	<br>
    	<label>SOC</label>
    	<input type="text" name="SOC" id="SOC">
    	<br>
    	<label>Date</label>
    	<input type="text" name="Date" id="Date">
    	<br>
    	<label>Time</label>
    	<input type="text" name="Time" id="Time">
    	<br>
    	<label>Notes</label>
    	<input type="text" name="Notes" id="Notes">
    	<br>
    	<button>Add</button>
    </form>

{% endblock %}
