{% extends "layout.html" %}
{% block content %}

    <h1>Status</h1>

    <h2>Latest status</h2>

    {% if latest_data != "No data yet available" %}
    {{ latest_data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}


    <h2>All historic statuses</h2>

    {% if data != "No data yet available" %}
    {{ data|safe }}
    {% else %}
    <p>No data yet available</p>
    {% endif %}

    <h2>Add status</h2>

    <form action="/status" method="POST">
    	<label>Battery name</label>
    	<input type="text" name="Battery-name" id="Battery-name">
    	<br>
    	<label>SOC</label>
    	<input type="text" name="SOC" id="SOC">
    	<br>
    	<label>Date</label>
    	<input type="text" name="Date" id="Date">
    	<br>
    	<label>Time</label>
    	<input type="text" name="Time" id="Time">
    	<br>
    	<label>Notes</label>
    	<input type="text" name="Notes" id="Notes">
    	<br>
    	<button>Add</button>
    </form>

    <script>
        window.onload = function() {
            // Adds date in right format to Date input
            var today = new Date;
            var year = today.getFullYear();;
            var month = today.getMonth() + 1;
            var day = today.getDate();
            date_formatted = [year, month, day].join("-")
            document.getElementById('Date').value = date_formatted
        }
    </script>

{% endblock %}
